@import "@/styles/rem.scss";

.result-modal {
  height: 100%;
  .options-wrapper {
    display: flex;
    justify-content: center;
    margin-top: rem(52px);
    column-gap: rem(32px);

    .option-picked {
      width: rem(132px);
      height: rem(182px);
      box-shadow: #010101 0px 1px 0px 2px;
      background: radial-gradient(transparent, transparent);
      border: 2px solid transparent;
      border-radius: 2px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__caption {
        margin: 0px;
        top: -16px;
        left: 0;

        padding: 0px rem(16px);
        margin: 0 auto;
        font-size: rem(13px);
        line-height: 2;
        display: inline-block;
        background-color: #883ef1;
        display: inline-block;
        aspect-ratio: 1.5;
        position: relative;
        z-index: 0;
        --b: 3px; /* border */
        --s: 20px; /* size of the cut */
        clip-path: polygon(79% 0, 93% 50%, 79% 100%, 20% 100%, 7% 50%, 20% 0%);
        width: 92px;
        text-align: center;
        height: 28px;

        &:before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: -1;
          background-color: #fff;
          --g1: #000 var(--b), #0000 0 calc(100% - var(--b)), #000 0;
          --g2: #0000 calc(0.707 * var(--s)),
            #000 0 calc(0.707 * var(--s) + var(--b)),
            #0000 0 calc(100% - 0.707 * var(--s) - var(--b)),
            #000 0 calc(100% - 0.707 * var(--s)), #0000 0;
          -webkit-mask: linear-gradient(45deg, var(--g2)),
            linear-gradient(-45deg, var(--g2)),
            linear-gradient(90deg, var(--g1)) 50%/100% calc(100% - 2 * var(--s))
              no-repeat,
            linear-gradient(180deg, var(--g1)) 50% / calc(100% - 2 * var(--s))
              100% no-repeat;
        }
      }
      &--primary {
        @extend .option-picked;
        border: 2px solid #25b9fd;
        background: radial-gradient(#1487d1, #18386f);

        .option-picked__caption {
          @extend .option-picked__caption;
          background-color: #1597e8;
        }
      }
      &--secondary {
        @extend .option-picked;

        border: 2px solid #9536cc;
        background: radial-gradient(#67228c, #221a50);

        .option-picked__caption {
          @extend .option-picked__caption;
        }
      }
      &__image {
        width: rem(132px);
        height: rem(132px);
      }
    }
  }

  .modal__tooltip {
    position: sticky;
    padding: rem(8px) rem(24px);
    text-transform: uppercase;
    background-color: #01010170;
    text-align: center;
    text-shadow: #010101 0px 3px, #010101 0px -1px, #010101 2px 0px,
      #010101 -2px 0px;
    font-size: 12px;
    display: block;
    color: #b85aff;
    z-index: 3;
  }
}

.button-wrapper {
  margin: 0 auto;
  margin-top: rem(40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(24px);
  max-width: 80%;
}
