@import "@/styles/rem.scss";

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: rem(40px) rem(20px) rem(20px);
  &__body {
    position: relative;
    display: block;
    margin: 0;
    font-size: rem(16px);
    line-height: 1.75;
  }
  &__footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding-top: rem(10px);
  }
  &__header {
    position: relative;
    background-color: #293757;
    width: 100%;
    height: rem(44px);
    border-radius: rem(20px) rem(20px) 0 0;
    display: block;
    padding-bottom: rem(30px);
    .title {
      padding: rem(8px) rem(24px);
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: #010101 0px 3px, #010101 0px -1px, #010101 2px 0px,
        #010101 -2px 0px;
      font-size: rem(24px);
      margin: 0;
    }
    &:after {
      content: "";
      position: absolute;
      background-color: #1f2940;
      width: 100%;
      height: rem(32px);
      border-bottom: 5px solid #0a121f;
    }
  }
  &__content {
    position: relative;
    margin: 0 auto;
    width: 97%;
    height: auto;
    min-height: 95%;
    background-color: #293757;
    border-radius: rem(16px);
    box-shadow: #010101 0px -1px 0px 2px, #010101 0px 1px 0px 3px;
    color: #fff;
    z-index: 1000;
  }
}

@media (min-width: 426px) {
  .modal {
    &__content {
      border-radius: rem(20px);
      width: 90%;
      min-height: 95%;
      box-shadow: #010101 0px -1px 0px 2px, #010101 0px 1px 0px 4px;
    }
  }
}
