.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
  &__body {
    position: relative;
    display: block;
    margin: 0;
    // padding: 8px 16px;
    font-size: 16px;
    line-height: 1.75;
  }
  &__footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
  }
  &__header {
    position: relative;
    background-color: #293757;
    width: 100%;
    height: 44px;
    border-radius: 20px 20px 0 0;
    display: block;
    padding-bottom: 30px;
    p {
      padding: 8px 24px;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: #010101 0px 3px, #010101 0px -1px, #010101 2px 0px,
        #010101 -2px 0px;
      font-size: 24px;
      margin: 0;
    }
    &:after {
      content: "";
      position: absolute;
      background-color: #1f2940;
      width: 100%;
      height: 32px;
      border-bottom: 5px solid #0a121f;
    }
  }
  &__content {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: auto;
    min-height: 90%;
    background-color: #293757;
    border-radius: 20px;
    box-shadow: #010101 0px -1px 0px 2px, #010101 0px 1px 0px 4px;
    color: #fff;
    z-index: 1000;
  }
}
.close-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 1000;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
  // border: 2px solid #010101;
  box-shadow: #010101 0px 1px 0px 2px;
  border-radius: 2px;
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: #010101;
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }

  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: linear-gradient(
      to left,
      #741b41 0%,
      #741b41 8%,
      #741b41 92%,
      #741b41 100%
    );
  }

  .front {
    display: block;
    position: relative;
    padding: 4px 10px;
    border-radius: 2px;
    font-size: 1.1rem;
    color: white;
    background-color: #dd396c;
    box-shadow: #010101 0px -0.5px 0px 1.5px;
    font-weight: bold;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  &:hover {
    filter: brightness(110%);
    .front {
      transform: translateY(-6px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
    .shadow {
      transform: translateY(4px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
  }
  &:active {
    .front {
      transform: translateY(-2px);
      transition: transform 34ms;
    }
    .shadow {
      transform: translateY(1px);
      transition: transform 34ms;
    }
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.button-wrapper {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  max-width: 80%;
}
