@import "@/styles/rem.scss";

.button-action {
  cursor: pointer;
  width: rem(100px);
  height: rem(63px);
  margin: 0 auto;
  background: linear-gradient(to left, #ffce4d 0%, #f4b23d 30%, #da7a14 80%);
  border-radius: rem(10px);
  box-sizing: border-box;
  border: 0.4vh solid transparent;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: inherit;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: linear-gradient(to left, #ffce4d 0%, #f4b23d 30%, #da7a14 80%);
  }
  &::after {
    box-shadow: 6px 0 1px -2px #010101;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  &::before {
    box-shadow: -6px 0px 1px -2px #010101;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  &__edge {
    @extend .button-action;
    transform: scale(0.8);
    background: none;
    background-color: #2d4d84;
    z-index: 60;
    display: grid;
    place-content: center;
    &::before,
    &::after {
      background: none;
      background-color: #2d4d84;
    }
    &::after {
      box-shadow: 4px 0px 1px -2px #ffb828;
    }
    &::before {
      box-shadow: -4px 0px 1px -2px #ffb828;
    }

    img {
      position: inherit;
      width: 152px;
      height: 152px;
      transition: 0.3s all;
      z-index: 65;
    }
    &:hover {
      img {
        filter: drop-shadow(0px 0px 4px #ffb828);
      }
    }

    &--rock {
      @extend .button-action__edge;
      &:hover {
        img {
          filter: drop-shadow(0px 0px 4px #ffb828);
        }
      }
    }
    &--paper {
      @extend .button-action__edge;
      &:hover {
        img {
          filter: drop-shadow(0px 0px 4px #e2f7fa);
        }
      }
    }
    &--scissors {
      @extend .button-action__edge;
      &:hover {
        img {
          filter: drop-shadow(0px 0px 4px #00f1f8);
        }
      }
    }
    &--lizard {
      @extend .button-action__edge;
      &:hover {
        img {
          filter: drop-shadow(0px 0px 4px #00cf4d);
        }
      }
    }
    &--spock {
      @extend .button-action__edge;
      &:hover {
        img {
          filter: drop-shadow(0px 0px 4px #9841ff);
        }
      }
    }
  }
}
