@import "@/styles/rem.scss";

.header {
  background-color: #293757;
  border-bottom: 3px solid #0f151f;
  padding: rem(20px) rem(24px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: rem(10px);
    bottom: 0px;
    left: 0;
    background-color: #1f2940;
  }

  &__title {
    padding: 0px;
    margin: 0px;
    font-family: lilitaOne;
    text-transform: uppercase;
    text-shadow: #010101 0px 3px, #010101 0px -1px;
    color: #fefaf6;
    display: inline-block;
  }
  &__score {
    display: inline-flex;
    align-items: center;
    position: relative;
    & .icon {
      position: absolute;
      left: rem(-25px);
      margin: 0;
      padding: 0;
      width: rem(40px);
      height: rem(40px);
    }
    & .score-points {
      padding: 3px 13px 3px 28px;
      text-align: right;
      margin: 0px;
      font-size: rem(16px);
      background-color: #01010170;
      border-radius: 0px 999px 999px 0px;
      text-shadow: #010101 0px 3px, #010101 0px -1px, #010101 2px 0px,
        #010101 -2px 0px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fefaf6;
    }
  }
}
