@import "@/styles/rem.scss";

.footer {
  position: fixed;
  bottom: 0;
  background-color: #384878;

  width: 100%;
  height: rem(64px);
  border-top: 2.5px solid #081818;
  padding: rem(14px) rem(24px);
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: rem(13px);
    top: 0px;
    left: 0px;
    background-color: #495888;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: rem(16px);

    .button-return {
      & .button__front {
        width: rem(32px);
        height: rem(42px);
        display: grid;
        place-content: center;
      }
    }
  }
}
